.btn {
  padding: 18px 59px;
  border: solid 2px transparent;
  outline: solid 4px transparent;
  border-radius: 41px;
  box-shadow: 0 12px 24px 0 rgba(44, 39, 56, 0.08);
  background-color: var(--color-accent);
  display: inline-block;

  color: var(--color-white);
  font-weight: 500;
  line-height: 125%;
  font-stretch: normal;

  transition: all .3s ease-in-out;

  &:any-link {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--color-accent-hover);
  }

  &:focus-visible, &:active {
    border-color: var(--color-accent-hover);
    outline-color: rgba(105, 174, 150, 0.4);
    background-color: var(--color-accent);
    outline-offset: 0;
  }

  &:disabled, &.disabled {
    color: #bbb9b9;
    background-color: #e5e5e5;
  }
}