.input {
  padding: 16px 24px;
  border-radius: 6px;
  border: 1px solid #C9CCD4;
  outline: solid 4px transparent;
  background: #FFF;
  transition-property: border-color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

  &:focus-visible, &:active {
    outline-color: rgba(105, 174, 150, 0.4);
    border-color: var(--color-accent-hover);
    outline-offset: 0;
  }

  &:disabled {
    opacity: 0.5;
    background: #E5E5E5;
  }

  &::placeholder {
    color: #000;
    opacity: 0.5;
  }
}