.footer {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__menu-link:any-link {
    color: var(--color-dark);
  }

  @media screen and (max-width: 1024px) {
    margin: 70px 0;
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    margin: 50px 0 20px;
    &__logo {
      img {
        height: 50px;
      }
    }

    &__menu-list {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}