.seo {
  max-width: 1920px;
  padding: 0 6rem;
  width: 100%;
  margin-inline: auto;
  margin-top: 10rem;

  &__container {
    border-radius: 10px;
    background: var(--color-bg-2);
    height: 490px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 775px;
    margin-left: 100px;
    flex: 1 1 0;
  }

  &__title {
    font-size: 6rem;
    letter-spacing: 2.4px;
    margin-bottom: 20px;
    line-height: normal;
  }

  &__image{
    align-self: stretch;
    flex: 1 1 0;

    img {
      margin-left: auto;
      height: 100%;
    }
  }
}