@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Italiana";
  src: url("../../fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: 0em;
  color: var(--color-dark);
}

h1, h2, h3 {
  font-family: "Italiana", serif;
  font-weight: 400;
  letter-spacing: .04em;
}

h1 {
  font-size: 9rem;
  line-height: 10.6rem;
}

h2, h3 {
  font-size: 7rem;
  line-height: 8.2rem;
}

.font-italic-lg {
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.font-bold {
  font-weight: 600;
}

.font-sm {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
