:root {
  --color-accent: #69ae96;
  --color-accent-hover: #3b7a64;
  --color-dark: #1f1f1f;
  --color-dark-50: #8f8f8f;
  --color-main-bg: #f5f9fa;
  --color-bg-2: #f5fcf8;
  --color-bg-3: #fcf8f5;
  --color-white: #fff;
}